body {
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-sidebar {
    background-color: #5f9692 !important;
}


.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    background-color: transparent !important;
    color: #ffffff !important;
    text-decoration: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Iconos siempre blancos planos */
.nav-link i,
.nav-link.active i {
    color: #ffffff !important;
    text-decoration: none !important;
}

.chart-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
}

.live-datetime {
    font-size: 0.9rem;
    color: #6c757d;
    font-weight: 500;
}

.live-datetime i {
    color: #4a7572;
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
        align-items: flex-start;
    }

    .sidebar-desktop {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex !important;
        flex-direction: column;
    }

    .navbar-mobile {
        display: none !important;
    }

    .main-content {
        flex-grow: 1;
        padding: 30px;
        width: calc(100% - 280px);
    }
}

.sidebar-desktop {
    overflow: visible !important;
}

.sidebar-desktop .dropdown-menu {
    position: absolute !important;
    bottom: 100% !important;
    top: auto !important;
    left: 0 !important;
    width: 250px;
    z-index: 9999;
    margin-bottom: 8px;
}

/* Ocultar navbar mobile en desktop */
@media (min-width: 768px) {
    .navbar-mobile {
        display: none !important;
    }
}

  :root {
            --verde-oscuro: #1f5945;
            --verde-medio: #2e7d5e;
            --teal: #5f9692;
            --teal-light: #eaf3f2;
            --text-main: #1a2e25;
            --text-muted: #6b8f7e;
            --card-bg: #ffffff;
            --border: #d4ede8;
            --danger: #c0392b;
        }

h1{
    font-size:1.2rem;color:var(--teal);
    font-family: 'Playfair Display', serif;
}